.Nav {
    min-height:20vh;
    width: 100%;
}

ul {
    list-style-type: none;
    margin-top:0;
    margin-bottom:0;
    margin-left:15vw;
    margin-right:15vw;
    padding: 0;
    width:200px;
    height:30px;
    background-color: #f1f1f1;
    text-align: center;
  }

  li {
    display: inline;
  }
  
  li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }